{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мой блог{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div class="page-container">
        <div class="navbar content-wrapper">
            <header>
                <nav>
                    <ul>
                        <li><a href="http://127.0.0.1:8000/blog">Главная</a></li>
                        <li><a href="http://127.0.0.1:8000/blog/posts">Посты</a></li>
                        <li><a href="#">Новый пост</a></li>
                        <li><a href="#">Мой профиль</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer content-wrapper">
            <footer>
                <p class="footer-text">sheisuka</p>
            </footer>
        </div>
    </div>
</body>
</html>
